*, ::before, ::after {
    padding: 0;
    margin: 0;
}
:root {

}
html {
    box-sizing: border-box;
    
}

body {
    background-color: black;
    font-size: 60px;
    width: 90%;
    margin: 0 auto;
    
}

h1, h2, h3  {
    font-family: Roboto, serif;
    font-weight: 800;
}

h2 {
    font-size: 70%;
    text-align: center;
}

p {
    font-size: 30%;
    font-family: serif;
}

/* header */

header {
    margin: 20px auto;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 80vh;
}

nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav > ul > li {
    list-style-type: none;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
}

nav > ul > li > a:hover {
    border-bottom: 2px solid red;

}

h1 {
    font-size: 100%;
}

.red {
    color: red

}

img {
    width: 60%;
}

/* first section */

.training-type {
    background-color: white;
    border: 5px solid red;
}

.training-type > h2 {
    margin: 55px 0;
}

h3 {
    font-size: 50%;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}


.card {
    background-color: black;
    color: white;
    border-radius: 5%;
    width: 250px;
    height: 300px;
    text-align: center;
}

.card-1 {
    background-image: url('');
}

.card-2 {
    background-image: url('');
}

.card-3 {
    background-image: url('');
}

.card > h3 {
    margin: 0;
    position: absolute;
    top: 50%;
    text-align: center;
}

.hidden {
    display: none;
}
.card:hover h3 {
    display: none;
}
.card:hover .hidden {
    display: block;
}

/* advice section */

.advice {
   color: white;
    margin: 55px 0;
    height: 300px;
}

.advice > h2 {
    position: relative;
    top: 50%;
    left: 0%;
}
form {
    text-align: center;
}
label {
    color: white;
    font-family: Roboto, serif;
    font-size: 45%;
    width: 30%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
button {
    display: block;
    margin: 5% auto;
    background-color: red;
    color: white;
    text-decoration: none;
}

/* footer */

footer {
    color: white;

}




