:root {
--main-color: #FFE52D;
}

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
    font-size: 60px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    
}

h1, h2, h3  {
    font-family: Roboto, serif;
    font-weight: 800;
}

h2 {
    font-size: 70%;
    text-align: center;
}

p {
    font-size: 30%;
    font-family: Archivo, sans-serif;
}

/* header */

header {
    margin: 0 auto;
    width: 100%;
    color: white;
    height: 70vh;
    position: relative;

}

.logo {
    position: absolute;
    top: 5%;
    left: 2.5%;
    width: 5%;
    height: 10%;
}

.vertical {
    width: 10%;
    height: 90%;
    background-color: white;    
}

.horizontal {
    width: 60%;
    height: 15%;
    background-color: white;
}



.decoration {
    width: 45%;
    height: 100%;
    background-color: white;
    transform-origin: bottom left;
    transform: skew(-28deg, 0deg);
    display: inline-block;
}
 img {
    display: inline-block;
    width: 55%;
    height: 100%;
 }

h1 {
    position: absolute;
    font-size: 100%;
    margin-top: 2%;
    margin-left: 20%;
    color: black;
    z-index: 1;
}
header > p {
    font-size: 2rem;
    position: absolute;
    margin-left: 15%;
    z-index: 1;
    color: black;
    margin-top: 20%;
}
.red {
    color: var(--main-color)

}

/* first section */

.training-type {
    background-color: white;
    border: 15px solid var(--main-color)
}

.training-type > h2 {
    margin: 55px 0;
}

h3 {
    font-size: 50%;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}


.card {
    background-color: black;
    color: white;
    border-radius: 5%;
    width: 250px;
    height: 300px;
    text-align: center;
}

.card-1, .card-2, .card-3 {
    position: relative;
    background-size: cover;
}
.card::before {
  content: ' ';
  opacity: 0.6;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 5%;

}

.card-1::before {
    background-image: url('./images/cards/card_image_1.avif');
}

.card-2::before {
    background-image: url('./images/cards/card_image_2.avif');
}

.card-3::before {
    background-image: url('./images/cards/card_image_3.avif');
}

article {
    position: relative;
}

article > h3 {
    text-align: center;
    padding: 25% 0;
    
}

.hidden {
    display: none;
}
.card:hover h3 {
    display: none;
}
.card:hover .hidden {
    display: block;
    font-weight: bold;
    text-align: left;
    line-height: 30px;
    width: 90%;
    padding: 25% 0;
    margin-left: 5%;

}

/* advice section */

.advice {
   color: white;
    margin: 40px 0 0;
    height: 300px;
}

.advice > h2 {
    position: relative;
    top: 50%;
    left: 0%;
}

form {
    text-align: center;
}
label {
    color: white;
    font-family: Roboto, serif;
    font-size: 45%;
    width: 50%;
    margin: 0 auto;
    display: inline-block;
    
}

input {
 margin-left: 2%;
 padding: 1%;
}

button {
    display: block;
    margin: 5% auto;
    width: 250px;
    padding:  1%;
    font-size: 20px;
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    border: 0;

}
button:hover {
    cursor: pointer;
    background-color: white;
    color: var(--main-color);


}

/* footer */

footer {
    color: white;


}




